.container1-contact-us {
    padding: 5% 7% 5% 4%;
    display: grid;
    grid-template-columns: 33.4% 33.3% 33.3%;
    grid-gap: 2%;
}

.contact-us-box {
    border: 1px solid #000;
    padding: 10% 10%;
    width: 100%;
}

.contact-us-box:hover {
    border-color: #d14031;
}

.contact-us-icons {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5%;
    margin-bottom: 8%;
}

.contact-us-box:hover .contact-us-icons {
    background-color: #d14031;
    transition: 0.4s;
}

.contact-us-heading {
    font-family: 'Cormorant Garamond', serif;
    color: #000;
}

.contact-us-box:hover .contact-us-heading {
    color: #d14031;
}

.contact-us-para {
    color: #707070;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
}

.contact-us-email {
    text-decoration: none;
    color: #707070;
}

.contact-us-email:hover {
    color: #d14031;
    transition: 0.4s;
}

.heading-contact-us {
    color: #000;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.line-contact-us {
    width: 10%;
    text-align: center;
    border: 3px solid #d14031;
    margin: 1% auto;
    opacity: 1;
}

.container2-contact-us {
    padding: 2% 25% 5% 25%;
}

.contact-us-form {
    width: 100%;
    margin-top: 3%;
    padding: 2%;
    border: 1px groove #707070 !;
    font-family: 'Josefin Sans', sans-serif;
    color: #707070;
}

.contact-us-form:hover {
    border-color: #d14031;
}

.contact-us-button {
    margin-top: 7%;
    width: 35%;
    color: #fff;
    background-color: #d14031;
    border: none;
    padding: 2%;
}

.contact-us-button:hover {
    background-color: #000;
    transition: 0.4s;
}

@media only screen and (max-width: 480px) {
    .container1-contact-us {
        padding: 8% 4%;
        display: block;
    }
    
    .contact-us-box {
        margin-bottom: 10%;
    }
    
    .container2-contact-us {
        padding: 2% 4% 8% 4%;
    }
    
    .contact-us-form {
        margin-top: 10%;
    }
}