.container10-home {
    padding: 5% 4%;
}

.latest-news {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    text-align: left;
    margin-top: 5%;
}

.latest-news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.latest-news-content:hover {
    cursor: pointer;
}

.latest-news-content:hover .card-title {
    color: #d14031;
}

.search-icon {
    color: #fff;
}

.latest-news-content {
    position: relative;  
    width:100%;
}

.latest-news-content:before {
    content:"";
    position:absolute;
    width:100%;
    height:42%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}

.latest-news-content:hover::before {
    background-color:rgba(209,64,49,0.7);
    transition-timing-function: linear;
    transition: .5s;
}

.latest-news-content img {
    display:block;
    width: 100%;
}

.latest-news-content .search-icon {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
} 

.latest-news-content:hover .search-icon {   
    opacity: 1;
}

@media only screen and (max-width: 480px) {
    .container10-home {
        padding: 8% 4% 3% 4%;
    }
    
    .latest-news {
        display: block;
        margin-top: 8%;
    }
 
    .latest-news-content {
        position: relative;  
        width:100%;
    }
    
    .latest-news-content:before {
        height: 38%;
    }

    .latest-news-content .search-icon {
        top: 21%;
        left: 50%;
    } 

    .latest-news-content img {
        display:block;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .shop-now-container10 {
        width: 50%;
        padding: 2% 9%;
        margin-bottom: 10%;
    }
 
}