@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

.availability-items {
    display: none;
}

.price-range-items {
    display: none;
}

.product-type-items {
    display: none;
}

.more-filters-items {
    display: none;
}

.brand-items {
    display: none;
}

.format-items {
    display: none;
}

.language-items {
    display: none;
}

.filter-container {
    color: #000;
    width: 100%;
    font-family: "Cormorant Garamond", serif;
    padding: 10%;
}

.heading-filter {
    font-size: 1.4rem;
    display: inline;
}

.heading-filter:hover {
    color: #d14031;
    cursor: pointer;
}

.list-flex {
    display: flex;
    justify-content: space-between;
}

.list-items {
    font-family: "Josefin Sans", sans-serif;
    color: #707070;
    padding: 5% 0;
}
