@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

.container1-bestsellers {
    background-image: url("../Images/brands-bg.png");
    background-position: center;
    background-size: cover;
    padding: 0;
    text-align: center;
}

.opacity-container-bestsellers {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 301px;
    padding: 0;
}

.heading-bestsellers {
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    padding: 10% 0;
}

.container2-bestsellers {
    display: flex;
    justify-content: space-between;
}

.on-mobile-display {
    display: none;
}

.container3-bestsellers {
    padding: 0 4% 8% 4%;
    width: 78%;
}

.filter-desktop {
    width: 22%;
    padding: 8% 0 2% 2%;
}

.container4-bestsellers {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
}

@media only screen and (max-width: 480px) {
    .opacity-container-bestsellers {
        height: 108px;
    }
    
    .heading-bestsellers {
        font-size: 1.3rem;
    }
    
    .container2-bestsellers {
        display: block;
    }
    
    .container3-bestsellers {
        width: 100%;
        text-align: center;
    }
    
    
    .container4-bestsellers {
        display: block;
        padding: 3% 4% 8% 4%;
    }

    .on-mobile-display {
        display: block;
    }

    .filter-desktop {
        display: none;
    }
}