@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.container1-home {
    background-image: url("../Images/home-bg-img.png");
    background-size: cover;
}

.text-container-home {
    padding: 15% 7%;
    text-align: left;
    width: 55%;
    font-family: 'Josefin Sans', sans-serif;
}

.heading-home {
    color: #d14031;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 700;
}

.shop-now {
    border: none;
    background-color: #d14031;
    padding: 2% 5%;
    color: #fff;
}

.shop-now:hover {
    background-color: #000;
    transition: .4s;
}

.container2-home {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    padding: 4% 4% 4% 6%;
    background-color: #f7f7f7;
    grid-gap: 15%;
}

.container3-home {
    padding: 5% 7%;
}

.heading-new-arrivals {
    color: #000;
    font-family: 'Cormorant Garamond', serif;
}

.line-home {
    width: 8%;
    text-align: center;
    border: 3px solid #d14031;
    margin: 2% auto;
    opacity: 1;
}

.new-arrivals {
    width: 11%;
    padding: 1%;
    margin: 2%;
    border: none;
    box-shadow: #00000030 0 10px 20px, #0000003b 0 6px 6px;
    font-weight: 600;
}

.new-arrivals:hover {
    background-color: #d14031;
    color: #fff;
}

.container5-home {
    background-image: url("../Images/home-bg-img2.png");
    padding: 12% 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container6-home {
    padding: 5% 4%;
}

.best-author {
    margin: 6% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container7-home {
    background-image: url("../Images/home-bg-img3.png");
    background-position: center;
    background-size: cover;
    padding: 12% 0;
}

.container7-shop-now {
    border: none;
    background-color: #000;
    padding: 2% 5%;
    color: #fff;
}

.container7-shop-now:hover {
    background-color: #d14031;
    transition: .4s;
}

.container9-home {
    background-image: url("../Images/home-bg-img4.png");
    padding: 12% 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heading-wonderful {
    color: #134683;
    font-family: 'Cormorant Garamond', serif;
}

