.container11-home {
    padding: 4%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #d14031;
    border-radius: 100%;
}

@media only screen and (max-width: 480px) {
    .container11-home {
        padding: 8% 4%;
        width: 100%;
        margin: 0;
    }
}