.availability-items {
    display: none;
}

.price-range-items {
    display: none;
}

.product-type-items {
    display: none;
}

.more-filters-items {
    display: none;
}

.brand-items {
    display: none;
}

.format-items {
    display: none;
}

.language-items {
    display: none;
}
