@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");

.container-header {
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
}

.icons-header {
    cursor: pointer;
}

.icons-header:hover {
    color: #d14031;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.3s linear;
}

@media only screen and (max-width: 480px) {
    .container-header {
        padding: 5% 4%;
        display: block;
    }

    .icons-header {
        display: none;
    }
}
