@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

.container-header {
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
}

.icons-header {
    cursor: pointer;
}

.icons-header:hover {
    color: #e12503;
    -webkit-background-clip: text;
          background-clip: text;
    transition: .4s;
}