.individual-blog-container {
    padding: 5% 24%;
    text-align: left;
}

.individual-blog-heading {
    font-family: 'Cormorant Garamond', serif;
    color: #000;
    margin-top: 5%;
}

.individual-blog-text {
    color: #707070;
    font-family: 'Josefin Sans', sans-serif;
}

.share-button {
    border: none;
    background-color: transparent;
    margin-bottom: 3%;
    font-size: 1.2rem;
    font-weight: bold;
    width: 15%;
}

.share-button:hover {
    color: #d14031
}

.individual-blog-content {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 1.1rem;
}

.back-to-blog-button {
    border: none;
    background-color: transparent;
    margin-top: 5%;
    width: 20%;
    font-weight: bold;
}

.back-to-blog-button:hover {
    color: #d14031;
}

@media only screen and (max-width: 480px) {
    .individual-blog-container {
        padding: 8% 4%;
        text-align: center;
    }
    
    .individual-blog-heading {
        font-size: 1.5rem;
    }

    .share-button {
        width: 30%;
    }

    .individual-blog-content {
        font-size: 1rem;
    }
    
    .back-to-blog-button {
        margin-top: 5%;
        width: 35%;
    }
}